# Ignore all
*
# Unignore all with extensions
!*.*
# Unignore all dirs
!*/
### Above combination will ignore all files without extension ###

*.out
*.swift
*.entitlements
*.json
*.cmake
*.e
*.f
*.g
*.hex
*.o
*.txt
*.DS_Store


